body {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

h1 {
    font-size: 42px;
    font-weight: 800;
    background-color: darkgreen;
    color: antiquewhite;
    text-align: center;
}

li {
    font-size: 22px;
    font-weight: 400;
    color: darkolivegreen;
}

